{% set active_page = "settings" %}
{% from "macros.html" import render_field_with_errors, render_field, render_field_errors %}
{% include "header.html" %}

<div class="container p-3 lead">
    <div class="card">
        <div class="card-header lead">
            {{ _('Change Password') }}
            <a href="{{url_for('show_settings')}}" class="btn btn-sm btn-secondary float-right">
                Back
            </a>
        </div>
        <div class="card-body">
            <form enctype=multipart/form-data  method="POST" action="{{ url_for_security('change_password') }}" name="change_password_form">
                {{ change_password_form.hidden_tag() }}
                <div class="form-group">
                    {{ render_field_with_errors(change_password_form.password, class_="form-control font-weight-light", placeholder="Current Password") }}
                </div>
                <div class="form-group">
                    {{ render_field_with_errors(change_password_form.new_password, class_="form-control font-weight-light", placeholder="New Password") }}
                </div>
                <div class="form-group">
                    {{ render_field_with_errors(change_password_form.new_password_confirm, class_="form-control font-weight-light", placeholder="Confirm Password") }}
                </div>

                {{ render_field(change_password_form.submit, class_="btn btn-primary", value="Change") }}
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}

