Flask>=2.2.2
Flask_Security_Too>=5.0.2
Flask_BabelEx>=0.9.4
Flask_WTF>=0.14.3
Flask_Mail>=0.9.1
Flask_Migrate>=4.0.0

bcrypt>=4.0.1
bleach>=6.0.0

SQLAlchemy>=1.4.25
Flask_SQLAlchemy>=2.4.4

requests>=2.25.1
GitPython>=3.1.13
