{% set active_page = "home" %}
{% include "header.html" %}
<div class="container p-3">
    <div class="card">
        <div class="card-header lead">
            Welcome!
        </div>
        <div class="card-body">
            This sample web application has been built by utilizing various awesome pieces of technology,
            most notable among which are,
            <ul>
                <li>Python</li>
                <li><b>Python Packages</b></li>
                <ul>
                    <li>Flask</li>
                    <li>Flask-Security-Too</li>
                    <li>SQLAlchemy</li>
                </ul>
                <li>BootStrap</li>
            </ul>

            Please check <a href="https://github.com/hrishikeshrt/flask-bootstrap-anywhere">GitHub</a> for more details.
        </div>
    </div>
</div>

{% include "footer.html" %}
